

@mixin new_mixin ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin common_btn ($text_color : $white, $bg_color : $green){
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: $text_color;
    background-color: $bg_color;
    border: 1px solid $bg_color;
    cursor: pointer;
}

@mixin hover {
    &:not([disabled]):hover{
        @content;
    }
}

