$-green : rgb(8, 182, 8);
@mixin before_box {
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: $-green;
        border-radius: 5px;
    }
}

@mixin padding {
    padding: 5rem 3rem;
}